version: 2.1

jobs:
  build:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:latest"
    steps:
      - checkout
      - python3/install-packages:
          pkg-manager: pip
      - run: python3 hello.py
  test:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:latest"
    steps:
      - checkout
      - python3/install-packages:
          pkg-manager: pip
      - run: python3 hello-test.py

workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
          filters:
            branches:
              only: main
